In [6]:
class vehicle:
    def __init__(self, e, r, p, c):
        self.engine = e
        self.regplate = r
        self.price = p
        self.colour = c

class car(vehicle):
      def __init__(self, t, nop, ms, e, r, p, c):
        self.type = t
        self.noofpassengers = nop
        self.maxspeed = ms  
        super().__init__(e, r, p, c)

class truck(vehicle):
    def __init__(self, noa, lc , e , r , p , c):
        self.noofaxle = noa
        self.loadcapacity = lc
        super().__init__(e, r, p, c)

obj1 = vehicle("v8", "abc13" , 900000 , "black")
obj2 = car("porsche" , "5" ,"70" , "v9" , "sdf23" , 1000000 , "red")
obj3 = truck("diesel"  ,"70" , "v8" , "ghf15" , 800000 , "brown" )

print("car vehicle" , obj2.type , obj2.noofpassengers , obj2.maxspeed , obj2.engine , obj2.regplate , obj2.price , obj2.colour)
print("truck vehicle" , obj3.noofaxle , obj3.loadcapacity , obj3.engine , obj3.regplate , obj3.price , obj3.colour)

car vehicle porsche 5 70 v9 sdf23 1000000 red
truck vehicle diesel 70 v8 ghf15 800000 brown

In [12]:
class employee:
    def __init__(self,eid,en,es):
        self.eid = eid
        self.ename = en
        self.esalary = es

class staff(employee):
    def __init__(self,eid,en,es,wt,wp):
          super().__init__(eid,en,es)
          self.worktype = wt
          self.workpr = wp
        
class developer(employee):
    def __init__(self,eid,en,es,m,t,ex):
          super().__init__(eid,en,es)
          self.module = m
          self.tech = t
          self.experience = ex
        
class manager(employee):
    def __init__(self,eid,en,es,p,cn):
          super().__init__(eid,en,es)
          self.project = p
          self.clientname = cn

obj1 = employee(13,"sunidhi",40000)
obj2 = staff(11,"shravani",30000,"hjds","jfj")
obj3 = developer(15,"sudeep",23000,15,"ml",17)
obj4 = manager(19,"yashu",30000,"ksj","bang")

print("employee staff",obj2.eid,obj2.ename,obj2.esalary,obj2.worktype,obj2.workpr)
print("employee developer",obj3.eid,obj3.ename,obj3.esalary,obj3.module,obj3.tech,obj3.experience)
print("employee manager",obj4.eid,obj4.ename,obj4.esalary,obj4.project,obj4.clientname)

employee staff 11 shravani 30000 hjds jfj
employee developer 15 sudeep 23000 15 ml 17
employee manager 19 yashu 30000 ksj bang

In [22]:
for x in range(0,5):
    for y in range(0,x+1):
        print("*" ,end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [6]:
for x in range(0,5):
    
    for y in range(0,y+1):
        print("*" , end="  ")
    print()

*  *  *  *  *
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *

In [11]:
rows=int(input("enter the number of rows:"))
for i in range(1,rows+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

enter the number of rows: 4

1
1 2
1 2 3
1 2 3 4

In [24]:
def pyramid(n):
    for i in range(n, 0, -1):
        for j in range(1, i + 1):
            print("* ", end="")
        print()

pyramid(7)

* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [32]:
rows=int(input("enter the number of rows:"))
for i in range(0, 5+1):
    for j in range(5 - i, 0, -1):
        print(j,end=" ")
    print()

enter the number of rows: 5

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [27]:
rows=int(input("enter the number of rows: "))
m=(2*rows)-2
for i in range(0, rows):
    for j in range(0, m):
        print(end=" ")
    m=m-1
    for j in range(0, i+1):
        print("* " , end='')
    print(" ")

enter the number of rows:  5

        *
       * *
      * * *
     * * * *
    * * * * *